app = "blumeops-proxy"
primary_region = "sjc"

[build]

[[vm]]
memory = "512mb"

[deploy]
strategy = "bluegreen"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = "off"
auto_start_machines = true
min_machines_running = 1

[[http_service.checks]]
grace_period = "15s"
interval = "10s"
method = "GET"
path = "/healthz"
timeout = "5s"
