---
# Tailscale serve configuration for this host
# Each service maps a Tailscale service name to local endpoints
#
# NOTE: forge has been migrated to Caddy (forge.ops.eblu.me)
# Registry will be migrated next, then this role can be retired.

tailscale_serve_services:
  - name: svc:registry
    https:
      port: 443
      upstream: http://localhost:5050
