<?xml version="1.0" encoding="UTF-8"?>
<!-- {{ ansible_managed }} -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>mcquack.eblume.netconsole</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/env</string>
		<string>python3</string>
		<string>{{ netconsole_script }}</string>
		<string>--port</string>
		<string>{{ netconsole_port }}</string>
		<string>--file</string>
		<string>{{ netconsole_log_file }}</string>
		<string>--max-bytes</string>
		<string>{{ netconsole_max_bytes }}</string>
		<string>--keep</string>
		<string>{{ netconsole_keep }}</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>StandardOutPath</key>
	<string>{{ netconsole_log_dir }}/mcquack.netconsole.out.log</string>
	<key>StandardErrorPath</key>
	<string>{{ netconsole_log_dir }}/mcquack.netconsole.err.log</string>
</dict>
</plist>
