global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "node-exporter-indri"
    static_configs:
    - targets: ["localhost:9090"]
    - targets: ["localhost:9100"]
    relabel_configs:
    - target_label: instance
      replacement: indri
  - job_name: "node-exporter-sifaka"
    static_configs:
    - targets: ["sifaka:9100"]
