- Admin:
    - Tailscale Admin:
        - href: https://login.tailscale.com/admin
          icon: tailscale
    - 1Password:
        - href: https://my.1password.com
          icon: 1password
    - Pulumi:
        - href: https://app.pulumi.com/eblume/blumeops-tailnet
          icon: si-pulumi
    - ArgoCD:
        - href: https://argocd.ops.eblu.me
          icon: argo-cd
    - UniFi:
        - href: https://unifi.ui.com
          icon: ubiquiti
