# {{ ansible_managed }}
#
# Minimal grafana config - only non-default values.
# See /opt/homebrew/opt/grafana/share/grafana/conf/defaults.ini for all options.

[paths]
provisioning = /opt/homebrew/etc/grafana/provisioning
