apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
  - service-tailscale.yaml

patchesStrategicMerge:
  - argocd-cmd-params-cm.yaml
