---
- name: Configure indri
  hosts: indri
  roles:
    - role: loki
      tags: loki
    - role: alloy
      tags: alloy
    - role: prometheus
      tags: prometheus
    - role: grafana
      tags: grafana
    - role: transmission
      tags: transmission
    - role: transmission_metrics
      tags: transmission_metrics
    - role: kiwix
      tags: kiwix
    - role: borgmatic
      tags: borgmatic
    - role: forgejo
      tags: forgejo
    - role: devpi
      tags: devpi
    - role: devpi_metrics
      tags: devpi_metrics
