apiVersion: v1
kind: ConfigMap
metadata:
  name: forgejo-runner-config
  namespace: forgejo-runner
data:
  config.yaml: |
    log:
      level: info

    runner:
      file: /data/.runner
      capacity: 2
      timeout: 3h
      # Env vars injected into all job containers
      envs:
        DOCKER_HOST: tcp://127.0.0.1:2375
        TZ: America/Los_Angeles

    container:
      # Job execution image is set via RUNNER_LABELS in deployment.yaml
      network: "host"
      # Connect to DinD sidecar via TCP (not socket)
      docker_host: tcp://127.0.0.1:2375
