<?xml version="1.0" encoding="utf-8"?>
<!-- {{ ansible_managed }} -->
<BrandingOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LoginDisclaimer>&lt;form action="/sso/OID/start/{{ jellyfin_sso_provider_name }}"&gt;&lt;button class="raised block emby-button button-submit" type="submit" style="margin:2em 0"&gt;Sign in with Authentik&lt;/button&gt;&lt;/form&gt;</LoginDisclaimer>
  <CustomCss />
  <SplashscreenEnabled>false</SplashscreenEnabled>
</BrandingOptions>
