<?xml version="1.0" encoding="UTF-8"?>
<!-- {{ ansible_managed }} -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>mcquack.forgejo-runner</string>
	<key>ProgramArguments</key>
	<array>
		<string>{{ forgejo_runner_binary }}</string>
		<string>daemon</string>
		<string>--config</string>
		<string>{{ forgejo_runner_config_dir }}/config.yaml</string>
	</array>
	<key>WorkingDirectory</key>
	<string>{{ forgejo_runner_data_dir }}</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/erichblume/.local/share/mise/shims:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>HOME</key>
		<string>/Users/erichblume</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>{{ forgejo_runner_log_dir }}/mcquack.forgejo-runner.out.log</string>
	<key>StandardErrorPath</key>
	<string>{{ forgejo_runner_log_dir }}/mcquack.forgejo-runner.err.log</string>
</dict>
</plist>
