mqtt:
  host: mosquitto.mqtt.svc.cluster.local
  port: 1883

go2rtc:
  streams:
    # GableCam IP is reserved in UX7 DHCP config
    gablecam:
      - "rtsp://{FRIGATE_CAMERA_USER}:{FRIGATE_CAMERA_PASSWORD}@192.168.1.159:554/h264Preview_01_main"
    gablecam_sub:
      - "rtsp://{FRIGATE_CAMERA_USER}:{FRIGATE_CAMERA_PASSWORD}@192.168.1.159:554/h264Preview_01_sub"

cameras:
  gablecam:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/gablecam
          input_args: preset-rtsp-restream
          roles: [record]
        - path: rtsp://127.0.0.1:8554/gablecam_sub
          input_args: preset-rtsp-restream
          roles: [detect]
    detect:
      enabled: true
      stationary:
        max_frames:
          default: 1500
    motion:
      mask:
        - 0.401,0.026,0.4,0.078,0.587,0.072,0.585,0.02
        - 0.881,0.422,0.789,0.245,0.595,0.054,0.531,0,0.634,0,0.824,0.192,0.892,0.307
    zones:
      driveway_entrance:
        coordinates: 0.841,0.37,0.735,0.344,0.681,0.2,0.78,0.259
        objects: [car, dog, person]
        inertia: 3
        loitering_time: 0
      driveway:
        coordinates: 0.767,0.25,0.58,0.2,0.218,0.25,0.128,0.296,0.003,0.565,0.001,0.992,0.826,0.992,0.897,0.665,0.869,0.608,0.788,0.354
        objects: [person, dog, cat]
    review:
      alerts:
        labels: [person, car]
        required_zones:
          - driveway_entrance
          - driveway
      detections:
        required_zones:
          - driveway
          - driveway_entrance
    objects:
      track: [person, car, dog, cat, bird]

detectors:
  onnx:
    type: onnx

model:
  model_type: yolo-generic
  width: 640
  height: 640
  input_tensor: nchw
  input_dtype: float
  path: /media/frigate/models/yolov9-c-640.onnx
  labelmap_path: /labelmap/coco-80.txt

record:
  enabled: true
  continuous:
    days: 3
  alerts:
    retain:
      days: 30
      mode: active_objects
  detections:
    retain:
      days: 14
      mode: motion

snapshots:
  enabled: true
  retain:
    default: 14
