<?xml version="1.0" encoding="UTF-8"?>
<!-- {{ ansible_managed }} -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>mcquack.eblume.transmission-metrics</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/bin:/bin</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>{{ transmission_metrics_script }}</string>
	</array>
	<key>StartInterval</key>
	<integer>{{ transmission_metrics_interval }}</integer>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>{{ transmission_log_dir }}/transmission-metrics.err.log</string>
	<key>StandardOutPath</key>
	<string>{{ transmission_log_dir }}/transmission-metrics.out.log</string>
</dict>
</plist>
