apiVersion: apps/v1
kind: Deployment
metadata:
  name: miniflux
  namespace: miniflux
spec:
  replicas: 1
  selector:
    matchLabels:
      app: miniflux
  template:
    metadata:
      labels:
        app: miniflux
    spec:
      containers:
        - name: miniflux
          image: ghcr.io/miniflux/miniflux:2.2.16
          ports:
            - containerPort: 8080
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: miniflux-db
                  key: url
            - name: RUN_MIGRATIONS
              value: "1"
            - name: BASE_URL
              value: "https://feed.tail8d86e.ts.net/"
            - name: POLLING_FREQUENCY
              value: "60"
            - name: BATCH_SIZE
              value: "100"
            - name: POLLING_SCHEDULER
              value: "entry_frequency"
            - name: CLEANUP_ARCHIVE_UNREAD_DAYS
              value: "180"
            - name: CLEANUP_ARCHIVE_READ_DAYS
              value: "60"
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "200m"
          livenessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
