apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: miniflux

resources:
  - deployment.yaml
  - service.yaml
  - ingress-tailscale.yaml

images:
  - name: registry.ops.eblu.me/blumeops/miniflux
    newTag: v2.2.17-33b7f0f
