<?xml version="1.0" encoding="UTF-8"?>
<!-- {{ ansible_managed }} -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>mcquack.eblume.devpi</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/bin:/bin</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/opt/mise/bin/mise</string>
		<string>x</string>
		<string>--</string>
		<string>devpi-server</string>
		<string>--serverdir</string>
		<string>{{ devpi_serverdir }}</string>
		<string>--host</string>
		<string>{{ devpi_host }}</string>
		<string>--port</string>
		<string>{{ devpi_port }}</string>
		<string>--outside-url</string>
		<string>{{ devpi_outside_url }}</string>
		<string>--secretfile</string>
		<string>{{ devpi_secretfile }}</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>{{ devpi_log_dir }}/mcquack.devpi.err.log</string>
	<key>StandardOutPath</key>
	<string>{{ devpi_log_dir }}/mcquack.devpi.out.log</string>
</dict>
</plist>
