<?xml version="1.0" encoding="UTF-8"?>
<!-- {{ ansible_managed }} -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>mcquack.eblume.logrotate</string>
	<key>ProgramArguments</key>
	<array>
		<string>{{ logrotate_script }}</string>
	</array>
	<key>StartInterval</key>
	<integer>{{ logrotate_interval }}</integer>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>{{ logrotate_log_dir }}/mcquack.logrotate.err.log</string>
	<key>StandardOutPath</key>
	<string>{{ logrotate_log_dir }}/mcquack.logrotate.out.log</string>
</dict>
</plist>
